pyside
pyqtgraph
qdarkstyle
pyyaml
numpy
scipy
sklearn
six
pillow
h5py
matplotlib
silx
fabio
pypaws>0.8.4
pyfai
pypif
pytz
tzlocal
saxskit
dask
requests
appdirs
pyfits
nexusformat
opengl
qtconsole
vispy
imageio
pyopengl
